@font-face {
    font-family: 'Montserrat';
    src: url('../css/fonts/Montserrat/Montserrat-VariableFont_wght.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Orpheus Pro';
    src: url('../css/fonts/Orpheus/OrpheusPro/Orpheus\ Pro.woff2') format('woff2'),
         url('../css/fonts/Orpheus/OrpheusPro/Orpheus\ Pro.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Moisette';
    src: url('../css/fonts/Moisette/Moisette-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body {
     font-family: 'Montserrat', sans-serif;
     font-size: 1rem;
     font-weight: 400;
     font-style: normal;
     line-height: 1.62em;
     text-transform: none;
     letter-spacing: 0.1px;
     background-color: #fff;
 }

 .content-section {
     background-color: #cfddd0; 
     /* padding: 20px 0; */
     padding-left:15%; padding-right:15%
 }
 .content-margin{
     margin-top: 100px !important;
     margin-bottom: 100px !important;

 }
  .content-padding{
     padding-top: 100px !important;
     padding-bottom: 100px !important;

 }
 .first-section {
     background-color: #fdfbf8;
     display: flex;
     justify-content: center;
     align-items: center;
     padding: 20px; 
 }

 .hedings {
     font-size: 46px;
     line-height: 58px;
     font-family: 'Moisette';
 }

 .right-headings {
     line-height: 50px;
     color: #ffffff;
     font-family: 'Montserrat', sans-serif;
 }

 .content {
     padding: 0 24% 0 28% !important;
 }

 p {
     font-family: 'Montserrat', sans-serif;
 }

 .second-section {
     background-color: #e9ecef;
     padding: 20px; 
     display: flex;
     justify-content: center;
     align-items: center;
     height: 100%; 
     background-image: url('./image/right-side.jpg');
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     width: 100%;
     color: white; 
     text-align: center;
 }

 .inner-div {
     padding: 0 20% 0 18% !important; 
 }

 .first-section .content {
     text-align: center;
 }

 .custom-btn {
     font-size: 16px;
     line-height: 50px;
     font-weight: 700;
     background-color: transparent;
     color: #fff;
     display: inline-block;
     padding: 0 30px;
     cursor: pointer;
     position: relative;
     border-width: 2px;
     border-style: solid;
     border-radius: 30px;
     letter-spacing: -1px;
     vertical-align: top;
 }
  .custom-btn2 {
     font-size: 16px;
     line-height: 50px;
     font-weight: 700;
     background-color: transparent;
     color: #4789cc;
     display: inline-block;
     padding: 0 30px;
     cursor: pointer;
     position: relative;
     border-width: 2px;
     border-style: solid;
     border-radius: 30px;
     letter-spacing: -1px;
     vertical-align: top;
 }
 .custom-btn3 {
    font-size: 16px;
    line-height: 50px;
    font-weight: 700;
    background-color: #4789cc;
    color: #fff;
    display: inline-block;
    padding: 0 30px;
    cursor: pointer;
    position: relative;
    border-width: 2px;
    border-style: solid;
    border-radius: 30px;
    border-color: #4789cc;
    letter-spacing: -1px;
    vertical-align: top;
}

 .custom-btn:hover {
    background-color: #4789cc;
    border-color: #4789cc;
    color:#fff;
 }
 .custom-btn2:hover {
    background-color: #4789cc;
    border-color: #4789cc;
    color:#fff;
 }
 .custom-btn3:hover {
    background-color: #fff;
    border-color: #fff;
    color:#4789cc;
 }

 .custom-icon {
     font-size: 30px; 
     color: #4db359;
     transition: color 0.3s, background-color 0.3s;
     position: relative;
 }

 .cards {
     background-color: transparent;
     overflow: hidden;
     /* padding: 15px; */
     position: relative;
     transition: background-color 0.3s, transform 0.3s;
     flex-grow: 1;
     display: flex;
     flex-direction: column;
     height: 100%;
 }

 .cards:hover {
     background-color: #4db359;
     /* transform: scale(1.02); */
 }

 .cards-heading {
     padding: 15px;
 }
 .card-fonts-heading-color{
     color:#000;
     font-family:'Moisette';
     font-size: 26px;
     font-weight: bold;
 }
 .card-fonts-color{
     color:#000;
     font-family:'Montserrat';
 }
 .cards:hover .card-fonts-heading-color, .cards:hover .card-fonts-color{
     color:#FFFFFF;
 }

 .cards-body {
     padding: 10px;
     flex: 1;
 }

 .cards-footer {
     padding: 15px;
     position: relative;
     /* margin-top: 20px; */
 }
 

 .cards-footer::before {
     content: 'Read More';
     position: absolute;
     left:45%;
     transform: translateX(-50%);
     bottom: 15px;
     font-size: 14px;
     color: #fff;
     opacity: 0;
     transition: opacity 0.3s;
     font-family:'Montserrat';
 }

 .cards:hover .custom-icon {
     color: #fff; 
 }
 .cards:hover .custom-icons {
     margin-left:90px
 }

 .cards:hover .cards-footer::before {
     opacity: 1;
 }

 .custom-footer-icons-div {
     display: flex;
     align-items: center; 
     justify-content: center; 
 }
 .left-side{
   position: static;
   width: 80%;
   height: 80%;
 }
 .side-element{
   position: relative;
   background-color: #0f5194;
   color: #fff;
   width: 50%;
   font-size: x-large;
   padding: 40px;
   left: 40%;
   top: -100px;
   font-family: "Montserrat";
 }


.left-section-padding{
    padding: 0 24% 0 20%;
}

.bottom-banner-content-padding{
    padding: 0 6% 0 20% !important;
}
.home-right-bg{
    background-image: url('../img/home/home_2.jpg');
    background-position: top center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}
.about-story-bg{
    background-image: url('../img/about_us/about_us_2.jpg') !important;
    background-position: top center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;    
    min-height: 400px;

}
.about-team-bg{
    background-image: url('../img/about_us/about_us_3.jpg') !important;
    background-position: top center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;    
    min-height: 400px;
}
.involved-right-bg{
    background-image: url('../img/get_involved/get_involved_2.jpg');
    background-position: top center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    min-height: 400px;
}
.involved-right-3-bg{
    background-image: url('../img/get_involved/get_involved_4.jpg');
    background-position: top center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    min-height: 400px;
}
.involved-left-2-bg{
    background-image: url('../img/get_involved/get_involved_3.jpg');
    background-position: top center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    min-height: 400px;
}
.involved-left-4-bg{
    background-image: url('../img/get_involved/get_involved_5.jpg');
    background-position: top center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    min-height: 400px;
}
.h2-title{
    font-size: 46px;
    line-height: 58px;
    text-align: left;
    font-family: 'Moisette';
    color: #000;
    font-weight: bold;
    line-height: 1.3;
}
.h2-heading-section-space{
    text-align: left;
    /* margin-top: 190px; */
    margin-bottom: 15px;
}
.left-margin-top-bottom{
    margin-top: 100px;
    margin-bottom:100px
}
.text-content-space{
    text-align: left;
    margin-top: 0px;
    margin-bottom: 50px;
}
.text-content{
    font-family: 'Montserrat';
    font-size: 18px !important;
    line-height: 28px;
    font-weight: 400;
    color: #000;
}
.text-content-white{
    font-family: 'Montserrat';
    font-size: 18px !important;
    line-height: 28px;
    font-weight: 400;
    color: #fff;
}
.right-content-padding{
    padding: 0 5% 0 10%;
}

.blue-header{
    font-size: 38px;
    line-height: 50px;
    color: #ffffff;
    text-align: left;
    font-family: 'Moisette';
    font-weight: bold;

} .pd-0{
    /* padding: 0px !important; */
    /* Test */
}

.banner {
    background-image: url('../img/home/home_1.jpg'); 
    background-position: top center; 
    background-repeat: no-repeat; 
    background-attachment: scroll; 
    background-size: cover;
    padding: 250px 0 150px 0;
}

.banner-title {
    color:#fff;
    font-family:'Montserrat' !important;
    font-size: 20px;
    letter-spacing: 2px;
}

.banner-header {
    color:#fff !important; 
    font-family:'Moisette' !important;
    font-weight: bold !important;
    font-size: 70px;
    line-height: 1.35 !important;
}
.italic-heading{
    font-size: 26px;
    line-height: 35px;
    font-weight: 700;
    font-style: italic;
    font-family:'Moisette' !important;
    /* letter-spacing: 3px !important ; */
    letter-spacing: 0 !important ;
    color: #000;
}



@media (max-width: 1024px) {
    .banner {
        padding: 100px 0 100px 0;
    }
} 

@media (max-width: 768px) {
    .banner {
        padding: 50px 0 50px 0;
    }
}

@media only screen and (max-width: 767px) {
    .left-section-padding {
        padding: 0 4% 35px 10%;
    } 
    .right-content-padding{
        padding: 10px 5% 10px 10% !important;
    }
    .zero-margin{
        margin:0px !important;
    }
    
    .zero-padding{
        padding:0px !important;
    }

    .p-xs-0{
        padding-top: 0px !important;
        padding-bottom: 0px !important;
    }
    .display-3 {
        font-size: 1.5rem !important;
        font-weight: 300;
        line-height: 1.2;
    }
    .side-element{
        padding: 20px !important;
        font-size: medium !important;
    }
}
@media only screen and (max-width: 1024px) {
    .left-section-padding {
        padding: 0 5% 35px 10%;
    }
    .pd-0{
        /* padding: 0px !important; */
    }
    .mobile-left-section-padding {
        padding: 0 5% 0px 5% !important;
    }
    
}

a {
    text-decoration: none !important;
  }

.tabs-cards-body{
    font-size: 18px;
}

.our-team{
    background-color:transparent !important;
    border:none !important;
    padding: 20px 0 !important;
}

.tab-cards-title{
    font-weight: bold;
    color: #000;
    padding: 0 !important;
}
.banner-paddings { 
    padding-top: 300px; 
} 
.banner-paddings { 
    padding-bottom: 320px; 
}
@media only screen and (max-width: 1024px) {
    .banner-paddings {
        padding-top: 160px;
    }
    .banner-paddings {
        padding-bottom: 180px;
    }
}
@media only screen and (max-width: 768px) {
    .banner-paddings {
        padding-top: 100px;
    }
    .banner-paddings {
        padding-bottom: 120px;
    }
}
@media only screen and (max-width: 540px) {
    .banner-paddings {
        padding-top: 100px;
    }
    .banner-paddings {
        padding-bottom: 120px;
    }
}
@media only screen and (max-width: 320px) {
    .banner-paddings {
        padding-top: 70px;
    }
    .banner-paddings {
        padding-bottom: 90px;
    }
}